<nav class="menu">
    <ul>
        <li><a routerLink="/" routerLinkActive="active" aria-label="Home"><fa-icon [icon]="faHome"></fa-icon></a></li>
        <li><a routerLink="/about" routerLinkActive="active" aria-label="About"><fa-icon [icon]="faMale"></fa-icon></a></li>
        <li><a routerLink="/projects" routerLinkActive="active" aria-label="Projects"><fa-icon [icon]="faCogs"></fa-icon></a></li>
        <li><a routerLink="/blog" routerLinkActive="active" aria-label="Blog"><fa-icon [icon]="faChalkboard"></fa-icon></a></li>
        <li><a href="https://www.linkedin.com/in/andrewjrvs" rel="noopener noreferrer" target="_blank" aria-label="LinkedIn"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
        <li appScrollup="" class="scrollLink" aria-hidden="true"><a href="javascript:void(0);" id="goToTop"><fa-icon [icon]="faArrowUp"></fa-icon></a></li>
    </ul>
</nav>
