<nav class="menu">
    <ul>
        <li><a routerLink="/" routerLinkActive="active" aria-label="Home"><i class="fad fa-home-alt"></i></a></li>
        <li><a routerLink="/about" routerLinkActive="active" aria-label="About"><i class="fa fa-male"></i></a></li>
        <li><a routerLink="/projects" routerLinkActive="active" aria-label="Projects"><i class="fad fa-cogs"></i></a></li>
        <li><a routerLink="/blog" routerLinkActive="active" aria-label="Blog"><i class="fad fa-chalkboard"></i></a></li>
        <li><a href="https://www.linkedin.com/in/andrewjrvs" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
        <li appScrollup="" class="scrollLink" aria-hidden="true"><a href="javascript:void(0);" id="goToTop"><i class="fas fa-arrow-up"></i></a></li>
    </ul>
</nav>
