//@import url('//fonts.googleapis.com/css?family=Quando|Open+Sans&display=swap');


/* latin */
@font-face {
    font-family: 'Quando';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/quando.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(./assets/fonts/opensans.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import "./sass/framework/variables";

@import "./sass/framework/layout_preload";
@import "./sass/framework/header_preload";
@import "./sass/framework/menu_preload";

@import "./sass/framework/normalize";
@import "./sass/framework/grid";
@import "./sass/framework/progress-bar";
//@import "../sass/framework/layout";
@import "./sass/framework/header";
@import "./sass/framework/menu";
@import "./sass/framework/projectTags";

@import "./sass/framework/homepage";
@import "./sass/framework/projects";
@import "./sass/framework/about";

app-skill-bar{
    display: block;
}